1. In the below elements which of them are values or an expression? 
        eg:- values can be integer or string and expressions will be mathematical operators.

            *           Expression (multiplication)
            'hello'     Value (string)
            -87.8 -     Value (float)
            -           Expression (subtraction)
            /           Expression (division)
            +           Expression (addition)
            6           Value (interger)

2. What is the difference between string and variable?
string:     A data value taht represents a text, written inside quotes(' ' or " ") eg; "string"
Variable:   A name(label) that refers to a value stored in memory.

In [ ]:
#example
a= "string"
print(a)

string

3.Describe three different data types

Integer(int)    - whole number positive, negative (without decimal)
Float(float)    - number with decimal points
String(str)     - sequence of characters enclosed in quotes (' ' or " ") (Letter, word, symbols or numbers)

In [6]:
#interger
i = 9
#float
f = 9.9
#String
s="python"
p = "32"

print(type(i))
print(type(f))
print(type(p))

<class 'int'>
<class 'float'>
<class 'str'>

4. What is an expression made up of? What do all expressions do?
    Expression in made up of values(numbers, string, variables) , Operators (mathematical operators), function calls. The expression always produce a value

In [7]:
#examples
9+9
"string"+"interger"+"float"
range(9)
len("string")

6

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?
    spam = 10 is a statement
    A statement is an instruction that can execute. It may contain expression, but its main purpose to do assigned action.
    Expression can only produce a value

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

The variable bacon contains value 22.
bacon + 1 is an expression and it gives a value 23

In [10]:
bacon = 22
bacon + 1
print(bacon)

22

7. What should the values of the following two terms be?
'spam' + 'spamspam'     - 'spamspamspam'
'spam' * 3              - 'spamspamspam'

In [11]:
'spam' + 'spamspam'

'spamspamspam'

In [12]:
'spam' * 3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?
    Variable must start with letter or an underscore
    eggs    - variable (starting with letter)
    100     - not variable (not starting with letter or an underscore)

9. What three functions can be used to get the integer, floating-point number, or string version of a value?
        integer: int()
        floating-point number: float()
        string: str()

In [14]:
int(1.98)

1

In [16]:
float(9)

9.0

In [17]:
str("9.9")

'9.9'

Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

In [18]:

'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

This expression is causing error because the expression is trying to add (operator) two different data types 
'I have eaten ' : string
99 : integer
burritos : string

By changing the integer to string '99' the output can be arrived

In [22]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'